<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a><i nz-icon nzType="appstore"></i><span>商品管理</span></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <span>商品管理</span>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<form nz-form class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>名称 </nz-form-label>
        <nz-form-control>
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>值 </nz-form-label>
        <nz-form-control>
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>类型 </nz-form-label>
        <nz-form-control>
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button nzType="primary" (click)="search()">
        <i nz-icon nzType="search"></i>搜索
      </button>
      <button nz-button routerLink="/product">
        <i nz-icon nzType="plus"></i>新增
      </button>
    </div>
  </div>
</form>

<nz-table
  #basicTable
  [nzData]="products | asyncNoZone"
  class="search-result-list"
>
  <thead>
    <tr>
      <th>编号</th>
      <th>商品编号</th>
      <th>存货名称</th>
      <th>规格</th>
      <th>单位</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ data.upc }}</td>
      <td>{{ data.productName }}</td>
      <td>{{ data.unitSize }}</td>
      <td>{{ data.unitPrice }}</td>
      <td>{{ data.createTime | date: "yyyy-MM-dd HH:mm" }}</td>
      <td>
        <a (click)="goUpdate(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onRemoveConfirm(data)">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
