button {
  margin-left: 8px;
}
nz-breadcrumb,
nz-table {
  margin-bottom: 20px;
}
.search-area {
  margin-bottom: 20px;
  text-align: right;
}

nz-upload {
  display: inline-block;
}
nz-page-header {
  padding: 16px 0;
}
