<div class="filter-container">
  <mat-form-field>
    <input matInput placeholder="名称" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="类型" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="值" />
  </mat-form-field>
  <button mat-raised-button (click)="onSearch()">
    搜索
  </button>
  <button mat-raised-button (click)="goAdd()">
    新增
  </button>
</div>
<div class="example-container-table mat-elevation-z8">
  <div class="example-table-container">
    <table
      mat-table
      [dataSource]="dictionaries | asyncNoZone"
      class="example-table"
      matSort
      matSortActive="created"
      matSortDisableClear
      matSortDirection="desc"
    >
      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{ row.number }}</td>
      </ng-container>
      <ng-container matColumnDef="createTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          创建时间
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.createTime | date: "yyyy-MM-dd HH:mm" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef>操作</th>
        <td mat-cell *matCellDef="let row">
          <a mat-button (click)="goUpdate(row)">编辑</a>
          <a mat-button (click)="onRemoveConfirm(row)">删除</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef>备注</th>
        <td mat-cell *matCellDef="let row">{{ row.remarks }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>描述</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>
      <ng-container matColumnDef="sort">
        <th mat-header-cell *matHeaderCellDef>排序</th>
        <td mat-cell *matCellDef="let row">{{ row.sort }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>类型</th>
        <td mat-cell *matCellDef="let row">{{ row.type }}</td>
      </ng-container>
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>值</th>
        <td mat-cell *matCellDef="let row">{{ row.label }}</td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>名称</th>
        <td mat-cell *matCellDef="let row">{{ row.value }}</td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>编号</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="100"></mat-paginator>
</div>
