<nz-breadcrumb>
  <nz-breadcrumb-item>
    <i nz-icon nzType="home"></i>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <i nz-icon nzType="setting"></i><span>系统管理</span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <span>字典管理</span>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<form nz-form class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>名称 </nz-form-label>
        <nz-form-control>
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>值 </nz-form-label>
        <nz-form-control>
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label>类型 </nz-form-label>
        <nz-form-control>
          <input nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button nzType="primary" (click)="search()">
        <i nz-icon nzType="search"></i>搜索
      </button>
      <button nz-button (click)="goAdd()">
        <i nz-icon nzType="plus"></i>新增
      </button>
    </div>
  </div>
</form>

<nz-table
  #basicTable
  [nzData]="dictionaries | asyncNoZone"
  class="search-result-list"
>
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>值</th>
      <th>类型</th>
      <th>排序</th>
      <th>描述</th>
      <th>备注</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ data.value }}</td>
      <td>{{ data.label }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.sort }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.remarks }}</td>
      <td>{{ data.createTime | date: "yyyy-MM-dd HH:mm" }}</td>
      <td>
        <a (click)="goUpdate(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onRemoveConfirm(data)">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
