<nz-layout>
  <nz-header>
    <div class="logo"></div>
  </nz-header>
  <nz-layout>
    <nz-sider
      nzCollapsible
      [(nzCollapsed)]="isCollapsed"
      nzWidth="200px"
      nzTheme="light"
    >
      <ul
        nz-menu
        nzMode="inline"
        nzTheme="light"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li nz-submenu nzTitle="商品管理" nzIcon="appstore">
          <ul>
            <li nz-menu-item>
              <a routerLink="/products">商品管理</a>
            </li>
            <li nz-menu-item>打印</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="系统管理" nzIcon="setting">
          <ul>
            <li nz-menu-item>
              <a routerLink="/dictionaries">字典管理</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <!-- <nz-breadcrumb [nzAutoGenerate]="true"> </nz-breadcrumb> -->
      <nz-content><router-outlet></router-outlet></nz-content>
      <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
