button {
  margin-left: 8px;
}
.search-area {
  margin: 20px 0;
  text-align: right;
}
nz-upload {
  display: inline-block;
}
nz-page-header {
  padding: 16px 0;
}
nz-breadcrumb {
  margin-bottom: 20px;
}
.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
