<form nz-form [nzLayout]="'horizontal'" [formGroup]="applyForm">
  <div class="e-container">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">名称</nz-form-label>
      <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="labelErrorTpl">
        <input
          nz-input
          placeholder="名称"
          [(ngModel)]="dictionary.label"
          formControlName="label"
          required
        />
        <ng-template #labelErrorTpl let-control>
          <ng-container *ngIf="label.errors.required">
            请输入
          </ng-container>
          <ng-container *ngIf="label.errors.maxlength">
            最多输入50字
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">值</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="valueErrorTpl" [nzSpan]="16">
        <input
          nz-input
          placeholder="值"
          [(ngModel)]="dictionary.value"
          formControlName="value"
        />
        <ng-template #valueErrorTpl let-control>
          <ng-container *ngIf="value.errors.maxlength">
            最多输入50字
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">类型</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="typeErrorTpl" [nzSpan]="16">
        <input
          nz-input
          placeholder="类型"
          [(ngModel)]="dictionary.type"
          formControlName="type"
        />
        <ng-template #typeErrorTpl let-control>
          <ng-container *ngIf="type.errors.maxlength">
            最多输入50字
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">排序</nz-form-label>
      <nz-form-control nzHasFeedback [nzErrorTip]="sortErrorTpl" [nzSpan]="16">
        <input
          nz-input
          type="number"
          placeholder="排序"
          [(ngModel)]="dictionary.sort"
          formControlName="sort"
          min="0"
        />
        <ng-template #sortErrorTpl let-control>
          <ng-container *ngIf="sort.errors.min">
            请输入大于0的数值
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">描述</nz-form-label>
      <nz-form-control
        nzHasFeedback
        [nzErrorTip]="descriptionErrorTpl"
        [nzSpan]="16"
      >
        <input
          nz-input
          placeholder="描述"
          [(ngModel)]="dictionary.description"
          formControlName="description"
        />
        <ng-template #descriptionErrorTpl let-control>
          <ng-container *ngIf="description.errors.maxlength">
            最多输入50字
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">备注</nz-form-label>
      <nz-form-control
        nzHasFeedback
        [nzErrorTip]="remarksErrorTpl"
        [nzSpan]="16"
      >
        <textarea
          nz-input
          placeholder="备注"
          [(ngModel)]="dictionary.remarks"
          formControlName="remarks"
        ></textarea>
        <ng-template #remarksErrorTpl let-control>
          <ng-container *ngIf="remarks.errors.maxlength">
            最多输入50字
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
<div *nzModalFooter>
  <ng-template [ngIf]="dictionary && dictionary.id" [ngIfElse]="elseBlock">
    <button
      nz-button
      nzType="primary"
      [disabled]="!applyForm.valid"
      (click)="onUpdate()"
    >
      更新
    </button>
  </ng-template>
  <ng-template #elseBlock>
    <button
      nz-button
      nzType="primary"
      [disabled]="!applyForm.valid"
      (click)="onSave()"
    >
      保存
    </button>
  </ng-template>
  <button nz-button nzType="default" (click)="destroyModal()">
    取消
  </button>
</div>
